@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-pearl-600;
  color: #333333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply rounded-xl py-2 px-4 border border-accent;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}


.section {
  @apply py-12 max-w-[1300px] w-full m-auto;
}

.dashboard-content{
  width: calc(100% - 15rem);
  @apply relative left-60 border border-white py-10 min-h-screen bg-lavender_blush-900
}