.nav_link {
  @apply p-3 rounded-lg hover:bg-pearl-900 transition-colors;
}

.nav_link.active {
  @apply bg-pearl-900;
}

.nav_link a {
  @apply flex items-center w-full gap-3 
  hover:font-medium hover:text-midnight_green transition-all;
}

.nav_link.active a {
  @apply font-medium text-midnight_green
  transition-colors;
}

.input {
  @apply p-3 rounded-lg w-full shadow-sm 
  focus:shadow-md focus:outline-none;
}

.btn {
  @apply p-3 shadow-sm hover:shadow-md bg-white 
  rounded-lg cursor-pointer transition-all;
}

.heart {
  @apply absolute top-2 right-2 cursor-pointer;
}

.tooltip {
  display: none;
}

.menu_icon{
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav_link,
  .menu_icon {
    display: grid;
    place-items: center;
    place-content: center;
  }

  .tooltip {
    display: block;
    background: #000;
    color: white;
    @apply rounded-lg text-xs px-2 py-1 absolute -right-full z-10;
  }

   .nav_link:hover .tooltip{
   /* display: block;*/
  } 

  .link,
  .button_content,
  .logo {
    display: none;
    opacity: 0;
  }
}
