.footer {
  @apply flex flex-col lg:flex-row gap-4 lg:gap-16;
}

.link_title {
  @apply font-bold text-xl mb-3;
}

.mobile_nav {
  @apply md:hidden relative flex justify-between items-center w-full;
}

.mobile_nav ul {
  position: absolute;
  top: 2.5rem;
  left: -120%;
  @apply w-full p-0 transition-all border border-black;
}

.mobile_nav.active ul{
    left: 0;
}

.mobile_nav li{
    @apply px-0
}